@"
node_modules/
.env
.env.*
backend/backups/
mysql_temp_data/
backend@1.0.0
cross-env
npm
qc
query
stop
"@ | Set-Content -Encoding UTF8 .gitignoredist/
backend/dist/

/dist/
dist/**
/backend/dist/
backend/dist/**
